
Sistema_Inventario/.vs/Sistema_Inventario/v15/.suo
Sistema_Inventario/.vs/Sistema_Inventario/v15/Server/sqlite3/storage.ide
Sistema_Inventario/.vs/Sistema_Inventario/v15/Server/sqlite3/storage.ide-shm
Sistema_Inventario/.vs/Sistema_Inventario/v15/Server/sqlite3/storage.ide-wal
*.config
