USE [master]
GO
/****** Object:  Database [inventario]    Script Date: 27/03/2020 00:15:29 ******/
CREATE DATABASE [inventario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'inventario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\inventario.mdf' , SIZE = 8384KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'inventario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\inventario_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [inventario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [inventario]
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id_bitacora] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[accion] [text] NULL,
	[id_movimiento] [int] NULL,
 CONSTRAINT [PK_bitacora] PRIMARY KEY CLUSTERED 
(
	[id_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[bodegas]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bodegas](
	[id_bodega] [int] IDENTITY(1,1) NOT NULL,
	[nombre_bodega] [nvarchar](250) NOT NULL,
	[id_sucursal] [int] NULL,
	[id_tipo_bodega] [int] NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_bodegas] PRIMARY KEY CLUSTERED 
(
	[id_bodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[clasificacion]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clasificacion](
	[id_clasificacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre_clasificacion] [nvarchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_clasificacion] PRIMARY KEY CLUSTERED 
(
	[id_clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[detalles_movimientos]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalles_movimientos](
	[id_detalle_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[fecha_vencimiento] [date] NULL,
	[lote] [nvarchar](250) NULL,
	[cantidad] [decimal](10, 2) NULL,
	[costo_unitario] [decimal](10, 2) NULL,
	[costo_unitario_promedio] [decimal](10, 2) NULL,
	[existencia_anterior] [decimal](10, 2) NULL,
	[existencia_total] [decimal](10, 2) NULL,
	[estado] [int] NULL,
	[id_producto] [int] NULL,
	[id_movimiento] [int] NULL,
	[id_bodega] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[medidas_peso]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medidas_peso](
	[id_medida_peso] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](250) NULL,
	[abreviatura] [nvarchar](50) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_medidas_peso] PRIMARY KEY CLUSTERED 
(
	[id_medida_peso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[movimientos]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_movimiento] [int] NOT NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[descripcion] [nvarchar](250) NULL,
	[costo_total_con_iva] [decimal](10, 2) NULL,
	[costo_total_sin_iva] [decimal](10, 2) NULL,
	[id_usuario] [int] NULL,
	[estado] [int] NULL,
	[id_proveedor] [int] NULL,
 CONSTRAINT [pk_movimientos] PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[productos]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](250) NOT NULL,
	[codigo] [nvarchar](250) NULL,
	[descripcion] [nvarchar](250) NULL,
	[id_vigencia_promedio] [int] NULL,
	[id_clasificacion] [int] NULL,
	[id_sub_clasificacion] [int] NULL,
	[id_proveedor] [int] NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](7) NULL,
	[estado] [int] NULL CONSTRAINT [DF_productos_estado]  DEFAULT ((1)),
 CONSTRAINT [pk_productos] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[proveedor_producto]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor_producto](
	[id_proveedor_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NULL,
	[id_producto] [int] NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_proveedor_producto] PRIMARY KEY CLUSTERED 
(
	[id_proveedor_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](250) NULL,
	[direccion] [nvarchar](250) NULL,
	[nit] [nvarchar](250) NULL,
	[nrc] [nvarchar](250) NULL,
	[correo] [nvarchar](250) NULL,
	[razon_social] [nvarchar](250) NULL,
	[id_tipo_proveedor] [int] NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_proveedores] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[roles]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[rol] [nvarchar](250) NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [pk_roles] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sub_clasificaciones]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_clasificaciones](
	[id_sub_clasificacion] [int] IDENTITY(1,1) NOT NULL,
	[id_clasificacion] [int] NULL,
	[sub_clasificacion] [nvarchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_sub_clasificacion] PRIMARY KEY CLUSTERED 
(
	[id_sub_clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[sucursales]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[sucursal] [nvarchar](100) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_sucursales] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_bodega]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_bodega](
	[id_tipo_bodega] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_tipo_bodega] PRIMARY KEY CLUSTERED 
(
	[id_tipo_bodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_bodega_bodegas]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_bodega_bodegas](
	[id_tipo_bodega_bodegas] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_bodega] [int] NULL,
	[id_bodega] [int] NULL,
	[temperatura_promedio] [decimal](10, 2) NULL,
	[capacidad_maxima] [decimal](10, 2) NULL,
	[capacidad_actual] [decimal](10, 2) NULL,
 CONSTRAINT [PK_tipo_bodega_bodegas] PRIMARY KEY CLUSTERED 
(
	[id_tipo_bodega_bodegas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_movimiento]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_movimiento](
	[id_tipo_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[tipo_movimiento] [nvarchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_tipos_movimientos] PRIMARY KEY CLUSTERED 
(
	[id_tipo_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipo_proveedor]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_proveedor](
	[id_tipo_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[tipo_proveedor] [nvarchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_tipo_proveedor] PRIMARY KEY CLUSTERED 
(
	[id_tipo_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](10) NULL,
	[clave] [varchar](50) NULL,
	[nombre_completo] [varchar](200) NULL,
	[dui] [varchar](10) NULL,
	[estado] [int] NULL CONSTRAINT [DF_usuarios_estado]  DEFAULT ((1)),
	[estado_sesion] [int] NULL,
	[fecha_ultimo_ingreso] [date] NULL,
	[hora_ultimo_ingreso] [time](7) NULL,
	[id_rol] [int] NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[vigencia_promedio]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vigencia_promedio](
	[id_vigencia_promedio] [int] IDENTITY(1,1) NOT NULL,
	[dias] [int] NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_vigencias_promedio] PRIMARY KEY CLUSTERED 
(
	[id_vigencia_promedio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[vw_login]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_login]
AS 
SELECT * FROM usuarios WHERE estado = 1 AND estado_sesion = 0; 

GO
/****** Object:  View [dbo].[vw_producto]    Script Date: 27/03/2020 00:15:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_producto] 
AS
SELECT dbo.productos.id_producto, dbo.productos.nombre, dbo.vigencia_promedio.dias, dbo.productos.codigo, dbo.productos.hora_creacion, dbo.productos.fecha_creacion, dbo.proveedores.nombre AS proveedor, 
dbo.clasificacion.nombre_clasificacion AS categoria, dbo.sub_clasificaciones.sub_clasificacion AS subcategoia, dbo.productos.descripcion
FROM dbo.productos INNER JOIN
dbo.proveedores ON dbo.productos.id_proveedor = dbo.proveedores.id_proveedor INNER JOIN
dbo.sub_clasificaciones ON dbo.productos.id_sub_clasificacion = dbo.sub_clasificaciones.id_sub_clasificacion INNER JOIN
dbo.clasificacion ON dbo.sub_clasificaciones.id_clasificacion = dbo.clasificacion.id_clasificacion INNER JOIN
dbo.vigencia_promedio ON dbo.productos.id_vigencia_promedio = dbo.vigencia_promedio.id_vigencia_promedio


GO
SET IDENTITY_INSERT [dbo].[bodegas] ON 

INSERT [dbo].[bodegas] ([id_bodega], [nombre_bodega], [id_sucursal], [id_tipo_bodega], [estado]) VALUES (1, N'Frutas_Beethoven', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[bodegas] OFF
SET IDENTITY_INSERT [dbo].[clasificacion] ON 

INSERT [dbo].[clasificacion] ([id_clasificacion], [nombre_clasificacion], [estado]) VALUES (1, N'Carnes', 1)
INSERT [dbo].[clasificacion] ([id_clasificacion], [nombre_clasificacion], [estado]) VALUES (2, N'Frutas', 1)
INSERT [dbo].[clasificacion] ([id_clasificacion], [nombre_clasificacion], [estado]) VALUES (3, N'Verduras', 1)
SET IDENTITY_INSERT [dbo].[clasificacion] OFF
SET IDENTITY_INSERT [dbo].[medidas_peso] ON 

INSERT [dbo].[medidas_peso] ([id_medida_peso], [nombre], [abreviatura], [estado]) VALUES (1, N'Onza', N'Oz', 1)
INSERT [dbo].[medidas_peso] ([id_medida_peso], [nombre], [abreviatura], [estado]) VALUES (2, N'Libra', N'Lb', 1)
INSERT [dbo].[medidas_peso] ([id_medida_peso], [nombre], [abreviatura], [estado]) VALUES (3, N'Miligramo', N'Ml', 1)
SET IDENTITY_INSERT [dbo].[medidas_peso] OFF
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id_producto], [nombre], [codigo], [descripcion], [id_vigencia_promedio], [id_clasificacion], [id_sub_clasificacion], [id_proveedor], [fecha_creacion], [hora_creacion], [estado]) VALUES (1, N'Ternera de leche', N'C-000001', N'Ternera de leche', 3, 1, 1, 1, CAST(N'2020-03-16' AS Date), CAST(N'12:25:26' AS Time), 1)
INSERT [dbo].[productos] ([id_producto], [nombre], [codigo], [descripcion], [id_vigencia_promedio], [id_clasificacion], [id_sub_clasificacion], [id_proveedor], [fecha_creacion], [hora_creacion], [estado]) VALUES (2, N'Añojo', N'C-000002', N'Añojo', 2, 1, 2, 1, CAST(N'2020-03-16' AS Date), CAST(N'12:25:26' AS Time), 1)
INSERT [dbo].[productos] ([id_producto], [nombre], [codigo], [descripcion], [id_vigencia_promedio], [id_clasificacion], [id_sub_clasificacion], [id_proveedor], [fecha_creacion], [hora_creacion], [estado]) VALUES (3, N'Novillo', N'C-000003', N'Novillo', 1, 1, 3, 1, CAST(N'2020-03-16' AS Date), CAST(N'12:25:26' AS Time), 1)
GO
SET IDENTITY_INSERT [dbo].[productos] OFF
SET IDENTITY_INSERT [dbo].[proveedores] ON 

INSERT [dbo].[proveedores] ([id_proveedor], [nombre], [direccion], [nit], [nrc], [correo], [razon_social], [id_tipo_proveedor], [estado]) VALUES (1, N'FIT-FRUIT', N'Calle San Antonio Abad No. 2123 Frente Colegio Cristóbal Col', N'0614-301096-117-0', N'004385-0', N'frurticolas@gmail.com', N'FIT-FRUIT', 1, 1)
INSERT [dbo].[proveedores] ([id_proveedor], [nombre], [direccion], [nit], [nrc], [correo], [razon_social], [id_tipo_proveedor], [estado]) VALUES (2, N'ECOFRUIT FRUTAS Y VERDURAS', N'CALLE LOS GRANADOS, COLONIA LAS MERCEDES CASA 28, SAN SALVAD', N'0614-260877-001-2', N'076132-0', N'verduricolas@hotmail.com', N'ECOFRUIT FRUTAS Y VERDURAS', 4, 1)
INSERT [dbo].[proveedores] ([id_proveedor], [nombre], [direccion], [nit], [nrc], [correo], [razon_social], [id_tipo_proveedor], [estado]) VALUES (3, N'DISTRIBUCIONES HORTOFRUTICOLAS', N'12 CALLE ORIENTE Y 9A. AVENIDA SUR NO.22-A, SANTA TECLA LA L', N'0614-301096-117-1', N'203703-3', N'carnicolas@yahoo.com', N'DISTRIBUCIONES HORTOFRUTICOLAS', 3, 1)
SET IDENTITY_INSERT [dbo].[proveedores] OFF
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id_rol], [rol], [estado]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[roles] ([id_rol], [rol], [estado]) VALUES (2, N'Encargado', 1)
SET IDENTITY_INSERT [dbo].[roles] OFF
SET IDENTITY_INSERT [dbo].[sub_clasificaciones] ON 

INSERT [dbo].[sub_clasificaciones] ([id_sub_clasificacion], [id_clasificacion], [sub_clasificacion], [estado]) VALUES (1, 1, N'Suprema', 1)
INSERT [dbo].[sub_clasificaciones] ([id_sub_clasificacion], [id_clasificacion], [sub_clasificacion], [estado]) VALUES (2, 1, N'Selecta', 1)
INSERT [dbo].[sub_clasificaciones] ([id_sub_clasificacion], [id_clasificacion], [sub_clasificacion], [estado]) VALUES (3, 1, N'Estandar', 1)
SET IDENTITY_INSERT [dbo].[sub_clasificaciones] OFF
SET IDENTITY_INSERT [dbo].[sucursales] ON 

INSERT [dbo].[sucursales] ([id_sucursal], [sucursal], [estado]) VALUES (1, N'Beethoven', 1)
INSERT [dbo].[sucursales] ([id_sucursal], [sucursal], [estado]) VALUES (2, N'Metrosur', 1)
INSERT [dbo].[sucursales] ([id_sucursal], [sucursal], [estado]) VALUES (3, N'Merliot', 1)
SET IDENTITY_INSERT [dbo].[sucursales] OFF
SET IDENTITY_INSERT [dbo].[tipo_bodega] ON 

INSERT [dbo].[tipo_bodega] ([id_tipo_bodega], [tipo], [estado]) VALUES (1, N'Seca', 1)
INSERT [dbo].[tipo_bodega] ([id_tipo_bodega], [tipo], [estado]) VALUES (2, N'Refrigeradora', 1)
INSERT [dbo].[tipo_bodega] ([id_tipo_bodega], [tipo], [estado]) VALUES (3, N'Congeladora', 1)
SET IDENTITY_INSERT [dbo].[tipo_bodega] OFF
SET IDENTITY_INSERT [dbo].[tipo_bodega_bodegas] ON 

INSERT [dbo].[tipo_bodega_bodegas] ([id_tipo_bodega_bodegas], [id_tipo_bodega], [id_bodega], [temperatura_promedio], [capacidad_maxima], [capacidad_actual]) VALUES (1, 1, 1, CAST(23.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(10, 2)), CAST(1000.01 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[tipo_bodega_bodegas] OFF
SET IDENTITY_INSERT [dbo].[tipo_movimiento] ON 

INSERT [dbo].[tipo_movimiento] ([id_tipo_movimiento], [tipo_movimiento], [estado]) VALUES (1, N'Entrada', 1)
INSERT [dbo].[tipo_movimiento] ([id_tipo_movimiento], [tipo_movimiento], [estado]) VALUES (2, N'Salida', 1)
INSERT [dbo].[tipo_movimiento] ([id_tipo_movimiento], [tipo_movimiento], [estado]) VALUES (3, N'Traslados', 1)
SET IDENTITY_INSERT [dbo].[tipo_movimiento] OFF
SET IDENTITY_INSERT [dbo].[tipo_proveedor] ON 

INSERT [dbo].[tipo_proveedor] ([id_tipo_proveedor], [tipo_proveedor], [estado]) VALUES (1, N'Frutas', 1)
INSERT [dbo].[tipo_proveedor] ([id_tipo_proveedor], [tipo_proveedor], [estado]) VALUES (2, N'Verduras', 1)
INSERT [dbo].[tipo_proveedor] ([id_tipo_proveedor], [tipo_proveedor], [estado]) VALUES (3, N'Carnes', 1)
SET IDENTITY_INSERT [dbo].[tipo_proveedor] OFF
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [usuario], [clave], [nombre_completo], [dui], [estado], [estado_sesion], [fecha_ultimo_ingreso], [hora_ultimo_ingreso], [id_rol]) VALUES (1, N'admin', N'admin', N'Administrador', N'05443976-4', 1, 0, CAST(N'2020-03-27' AS Date), CAST(N'12:10:30' AS Time), 1)
INSERT [dbo].[usuarios] ([id_usuario], [usuario], [clave], [nombre_completo], [dui], [estado], [estado_sesion], [fecha_ultimo_ingreso], [hora_ultimo_ingreso], [id_rol]) VALUES (2, N'encargado', N'encargado', N'Encargado', N'06143019-9', 1, 0, CAST(N'2020-03-27' AS Date), CAST(N'12:00:03' AS Time), 2)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
SET IDENTITY_INSERT [dbo].[vigencia_promedio] ON 

INSERT [dbo].[vigencia_promedio] ([id_vigencia_promedio], [dias], [estado]) VALUES (1, 5, 1)
INSERT [dbo].[vigencia_promedio] ([id_vigencia_promedio], [dias], [estado]) VALUES (2, 10, 1)
INSERT [dbo].[vigencia_promedio] ([id_vigencia_promedio], [dias], [estado]) VALUES (3, 15, 1)
SET IDENTITY_INSERT [dbo].[vigencia_promedio] OFF
ALTER TABLE [dbo].[bitacora]  WITH CHECK ADD  CONSTRAINT [FK_bitacora_movimientos] FOREIGN KEY([id_movimiento])
REFERENCES [dbo].[movimientos] ([id_movimiento])
GO
ALTER TABLE [dbo].[bitacora] CHECK CONSTRAINT [FK_bitacora_movimientos]
GO
ALTER TABLE [dbo].[bodegas]  WITH CHECK ADD  CONSTRAINT [fk_bodegas_sucursales] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursales] ([id_sucursal])
GO
ALTER TABLE [dbo].[bodegas] CHECK CONSTRAINT [fk_bodegas_sucursales]
GO
ALTER TABLE [dbo].[detalles_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_detalles_movimientos_bodegas] FOREIGN KEY([id_bodega])
REFERENCES [dbo].[bodegas] ([id_bodega])
GO
ALTER TABLE [dbo].[detalles_movimientos] CHECK CONSTRAINT [FK_detalles_movimientos_bodegas]
GO
ALTER TABLE [dbo].[detalles_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_detalles_movimientos_movimientos] FOREIGN KEY([id_movimiento])
REFERENCES [dbo].[movimientos] ([id_movimiento])
GO
ALTER TABLE [dbo].[detalles_movimientos] CHECK CONSTRAINT [FK_detalles_movimientos_movimientos]
GO
ALTER TABLE [dbo].[detalles_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_detalles_movimientos_productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[detalles_movimientos] CHECK CONSTRAINT [FK_detalles_movimientos_productos]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [FK_movimientos_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [FK_movimientos_proveedores]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [fk_movimientos_tipo_movimiento] FOREIGN KEY([id_tipo_movimiento])
REFERENCES [dbo].[tipo_movimiento] ([id_tipo_movimiento])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [fk_movimientos_tipo_movimiento]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [FK_movimientos_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [FK_movimientos_usuarios]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_sub_clasificaciones] FOREIGN KEY([id_sub_clasificacion])
REFERENCES [dbo].[sub_clasificaciones] ([id_sub_clasificacion])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_sub_clasificaciones]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [fk_prouctos_viegncia_promedio] FOREIGN KEY([id_vigencia_promedio])
REFERENCES [dbo].[vigencia_promedio] ([id_vigencia_promedio])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [fk_prouctos_viegncia_promedio]
GO
ALTER TABLE [dbo].[proveedor_producto]  WITH CHECK ADD  CONSTRAINT [FK_proveedor_producto_productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[proveedor_producto] CHECK CONSTRAINT [FK_proveedor_producto_productos]
GO
ALTER TABLE [dbo].[proveedor_producto]  WITH CHECK ADD  CONSTRAINT [FK_proveedor_producto_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[proveedor_producto] CHECK CONSTRAINT [FK_proveedor_producto_proveedores]
GO
ALTER TABLE [dbo].[proveedores]  WITH CHECK ADD  CONSTRAINT [fk_proveedores] FOREIGN KEY([id_tipo_proveedor])
REFERENCES [dbo].[tipo_proveedor] ([id_tipo_proveedor])
GO
ALTER TABLE [dbo].[proveedores] CHECK CONSTRAINT [fk_proveedores]
GO
ALTER TABLE [dbo].[sub_clasificaciones]  WITH CHECK ADD  CONSTRAINT [fk_sub_clasificacion_clasificaciones] FOREIGN KEY([id_clasificacion])
REFERENCES [dbo].[clasificacion] ([id_clasificacion])
GO
ALTER TABLE [dbo].[sub_clasificaciones] CHECK CONSTRAINT [fk_sub_clasificacion_clasificaciones]
GO
ALTER TABLE [dbo].[tipo_bodega_bodegas]  WITH CHECK ADD  CONSTRAINT [FK_tipo_bodega_bodegas_bodegas] FOREIGN KEY([id_bodega])
REFERENCES [dbo].[bodegas] ([id_bodega])
GO
ALTER TABLE [dbo].[tipo_bodega_bodegas] CHECK CONSTRAINT [FK_tipo_bodega_bodegas_bodegas]
GO
ALTER TABLE [dbo].[tipo_bodega_bodegas]  WITH CHECK ADD  CONSTRAINT [FK_tipo_bodega_bodegas_tipo_bodega] FOREIGN KEY([id_tipo_bodega])
REFERENCES [dbo].[tipo_bodega] ([id_tipo_bodega])
GO
ALTER TABLE [dbo].[tipo_bodega_bodegas] CHECK CONSTRAINT [FK_tipo_bodega_bodegas_tipo_bodega]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_roles]
GO
USE [master]
GO
