USE [master]
GO
/****** Object:  Database [inventario]    Script Date: 25/04/2020 10:13:17 ******/
CREATE DATABASE [inventario]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'inventario', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\inventario.mdf' , SIZE = 8384KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'inventario_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\inventario_log.ldf' , SIZE = 2624KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [inventario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [inventario]
GO
USE [inventario]
GO
/****** Object:  Table [dbo].[movimientos]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos](
	[id_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_movimiento] [int] NOT NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[descripcion] [nvarchar](250) NULL,
	[costo_total_con_iva] [decimal](10, 2) NULL,
	[costo_total_sin_iva] [decimal](10, 2) NULL,
	[id_usuario] [int] NULL,
	[estado] [int] NULL,
	[id_proveedor] [int] NULL,
	[id_bodega_cargo] [int] NULL,
 CONSTRAINT [pk_movimientos] PRIMARY KEY CLUSTERED 
(
	[id_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](250) NULL,
	[direccion] [nvarchar](250) NULL,
	[nit] [nvarchar](250) NULL,
	[nrc] [nvarchar](250) NULL,
	[correo] [nvarchar](250) NULL,
	[razon_social] [nvarchar](250) NULL,
	[id_tipo_proveedor] [int] NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_proveedores] PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_movimiento]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_movimiento](
	[id_tipo_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[tipo_movimiento] [nvarchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_tipos_movimientos] PRIMARY KEY CLUSTERED 
(
	[id_tipo_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](10) NULL,
	[clave] [varchar](50) NULL,
	[nombre_completo] [varchar](200) NULL,
	[dui] [varchar](10) NULL,
	[estado] [int] NULL,
	[estado_sesion] [int] NULL,
	[fecha_ultimo_ingreso] [date] NULL,
	[hora_ultimo_ingreso] [time](7) NULL,
	[id_rol] [int] NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_movimientos]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_movimientos]
AS
SELECT IIF(dbo.movimientos.estado = 1, 'Aprobado', IIF(dbo.movimientos.estado = 0,'Pendiente','Rechazado')) AS estado, 
	dbo.movimientos.id_movimiento, 
	dbo.tipo_movimiento.tipo_movimiento, 
	dbo.movimientos.fecha, dbo.movimientos.hora, dbo.movimientos.descripcion, 
    dbo.movimientos.costo_total_con_iva, dbo.movimientos.costo_total_sin_iva, dbo.usuarios.usuario, dbo.proveedores.nombre
FROM  dbo.movimientos INNER JOIN
    dbo.tipo_movimiento ON dbo.movimientos.id_tipo_movimiento = dbo.tipo_movimiento.id_tipo_movimiento INNER JOIN
    dbo.usuarios ON dbo.movimientos.id_usuario = dbo.usuarios.id_usuario LEFT JOIN
    proveedores ON movimientos.id_proveedor = proveedores.id_proveedor
GO
/****** Object:  View [dbo].[vw_login]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_login]
AS
SELECT        id_usuario, RTRIM(usuario) AS usuario, RTRIM(clave) AS clave, RTRIM(nombre_completo) AS nombre_completo, dui, estado, estado_sesion, fecha_ultimo_ingreso, hora_ultimo_ingreso, id_rol
FROM            dbo.usuarios
WHERE        (estado = 1) AND (estado_sesion = 0)
GO
/****** Object:  Table [dbo].[clasificacion]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clasificacion](
	[id_clasificacion] [int] IDENTITY(1,1) NOT NULL,
	[nombre_clasificacion] [nvarchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_clasificacion] PRIMARY KEY CLUSTERED 
(
	[id_clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](250) NOT NULL,
	[codigo] [nvarchar](250) NULL,
	[descripcion] [nvarchar](250) NULL,
	[id_vigencia_promedio] [int] NULL,
	[id_clasificacion] [int] NULL,
	[id_sub_clasificacion] [int] NULL,
	[id_proveedor] [int] NULL,
	[fecha_creacion] [date] NULL,
	[hora_creacion] [time](7) NULL,
	[estado] [int] NULL,
	[costo_unitario_con_iva] [decimal](18, 4) NULL,
 CONSTRAINT [pk_productos] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sub_clasificaciones]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sub_clasificaciones](
	[id_sub_clasificacion] [int] IDENTITY(1,1) NOT NULL,
	[id_clasificacion] [int] NULL,
	[sub_clasificacion] [nvarchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_sub_clasificacion] PRIMARY KEY CLUSTERED 
(
	[id_sub_clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vigencia_promedio]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vigencia_promedio](
	[id_vigencia_promedio] [int] IDENTITY(1,1) NOT NULL,
	[dias] [int] NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_vigencias_promedio] PRIMARY KEY CLUSTERED 
(
	[id_vigencia_promedio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_producto]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_producto]
AS
SELECT        dbo.productos.id_producto, dbo.productos.nombre, dbo.vigencia_promedio.dias, dbo.productos.codigo, dbo.productos.hora_creacion, dbo.productos.fecha_creacion, dbo.proveedores.nombre AS proveedor, 
                         dbo.clasificacion.nombre_clasificacion AS categoria, dbo.sub_clasificaciones.sub_clasificacion AS subcategoia, dbo.productos.descripcion
FROM            dbo.productos INNER JOIN
                         dbo.proveedores ON dbo.productos.id_proveedor = dbo.proveedores.id_proveedor INNER JOIN
                         dbo.sub_clasificaciones ON dbo.productos.id_sub_clasificacion = dbo.sub_clasificaciones.id_sub_clasificacion INNER JOIN
                         dbo.clasificacion ON dbo.sub_clasificaciones.id_clasificacion = dbo.clasificacion.id_clasificacion INNER JOIN
                         dbo.vigencia_promedio ON dbo.productos.id_vigencia_promedio = dbo.vigencia_promedio.id_vigencia_promedio
WHERE        (dbo.productos.estado = 1)
GO
/****** Object:  Table [dbo].[bodegas]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bodegas](
	[id_bodega] [int] IDENTITY(1,1) NOT NULL,
	[nombre_bodega] [nvarchar](250) NOT NULL,
	[id_sucursal] [int] NULL,
	[id_tipo_bodega] [int] NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_bodegas] PRIMARY KEY CLUSTERED 
(
	[id_bodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursales]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[sucursal] [nvarchar](100) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_sucursales] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_bodega]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_bodega](
	[id_tipo_bodega] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [nvarchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_tipo_bodega] PRIMARY KEY CLUSTERED 
(
	[id_tipo_bodega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_bodegas]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_bodegas]
As
select a.id_bodega,a.nombre_bodega,b.sucursal,c.tipo,b.id_sucursal,c.id_tipo_bodega 
from bodegas a 
inner join sucursales b on b.id_sucursal=a.id_sucursal 
inner join tipo_bodega c on c.id_tipo_bodega=a.id_tipo_bodega 
where a.estado=1
GO
/****** Object:  View [dbo].[vw_sucursal]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[vw_sucursal]
As
select id_sucursal,sucursal,estado from sucursales where estado=1
GO
/****** Object:  Table [dbo].[tipo_proveedor]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_proveedor](
	[id_tipo_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[tipo_proveedor] [nvarchar](250) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_tipo_proveedor] PRIMARY KEY CLUSTERED 
(
	[id_tipo_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_proveedor]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vw_proveedor]
as

SELECT dbo.proveedores.id_proveedor, dbo.proveedores.nombre, dbo.proveedores.direccion, dbo.proveedores.nit, dbo.proveedores.nrc, dbo.proveedores.correo, dbo.proveedores.razon_social, 
dbo.tipo_proveedor.tipo_proveedor
FROM            dbo.proveedores INNER JOIN
dbo.tipo_proveedor ON dbo.proveedores.id_tipo_proveedor = dbo.tipo_proveedor.id_tipo_proveedor
WHERE        (dbo.proveedores.estado = 1)
GO
/****** Object:  View [dbo].[vw_tipo_movimiento]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_tipo_movimiento]
AS 
SELECT * FROM tipo_movimiento WHERE estado = 1;
GO
/****** Object:  Table [dbo].[bitacora]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bitacora](
	[id_bitacora] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[hora] [time](7) NULL,
	[accion] [text] NULL,
	[id_movimiento] [int] NULL,
 CONSTRAINT [PK_bitacora] PRIMARY KEY CLUSTERED 
(
	[id_bitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalles_movimientos]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalles_movimientos](
	[id_detalle_movimiento] [int] IDENTITY(1,1) NOT NULL,
	[fecha_vencimiento] [date] NULL,
	[lote] [nvarchar](250) NULL,
	[cantidad] [decimal](10, 2) NULL,
	[costo_unitario] [decimal](10, 2) NULL,
	[costo_unitario_promedio] [decimal](10, 2) NULL,
	[existencia_anterior] [decimal](10, 2) NULL,
	[existencia_total] [decimal](10, 2) NULL,
	[estado] [int] NULL,
	[id_producto] [int] NULL,
	[id_movimiento] [int] NULL,
	[id_bodega] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medidas_peso]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medidas_peso](
	[id_medida_peso] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](250) NULL,
	[abreviatura] [nvarchar](50) NULL,
	[estado] [int] NULL,
 CONSTRAINT [pk_medidas_peso] PRIMARY KEY CLUSTERED 
(
	[id_medida_peso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor_producto]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor_producto](
	[id_proveedor_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NULL,
	[id_producto] [int] NULL,
	[estado] [int] NULL,
 CONSTRAINT [PK_proveedor_producto] PRIMARY KEY CLUSTERED 
(
	[id_proveedor_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[rol] [nvarchar](250) NULL,
	[estado] [int] NOT NULL,
 CONSTRAINT [pk_roles] PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_bodega_bodegas]    Script Date: 25/04/2020 10:13:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_bodega_bodegas](
	[id_tipo_bodega_bodegas] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_bodega] [int] NULL,
	[id_bodega] [int] NULL,
	[temperatura_promedio] [decimal](10, 2) NULL,
	[capacidad_maxima] [decimal](10, 2) NULL,
	[capacidad_actual] [decimal](10, 2) NULL,
 CONSTRAINT [PK_tipo_bodega_bodegas] PRIMARY KEY CLUSTERED 
(
	[id_tipo_bodega_bodegas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bodegas] ON 

INSERT [dbo].[bodegas] ([id_bodega], [nombre_bodega], [id_sucursal], [id_tipo_bodega], [estado]) VALUES (1, N'Frutas Beethoven', 1, 1, 1)
INSERT [dbo].[bodegas] ([id_bodega], [nombre_bodega], [id_sucursal], [id_tipo_bodega], [estado]) VALUES (2, N'Carnes Metrosur', 2, 3, 1)
INSERT [dbo].[bodegas] ([id_bodega], [nombre_bodega], [id_sucursal], [id_tipo_bodega], [estado]) VALUES (3, N'Verduras El Centro', 1, 2, 1)
SET IDENTITY_INSERT [dbo].[bodegas] OFF
GO
SET IDENTITY_INSERT [dbo].[clasificacion] ON 

INSERT [dbo].[clasificacion] ([id_clasificacion], [nombre_clasificacion], [estado]) VALUES (1, N'Carnes', 1)
INSERT [dbo].[clasificacion] ([id_clasificacion], [nombre_clasificacion], [estado]) VALUES (2, N'Frutas', 1)
INSERT [dbo].[clasificacion] ([id_clasificacion], [nombre_clasificacion], [estado]) VALUES (3, N'Verduras', 1)
SET IDENTITY_INSERT [dbo].[clasificacion] OFF
GO
SET IDENTITY_INSERT [dbo].[detalles_movimientos] ON 

INSERT [dbo].[detalles_movimientos] ([id_detalle_movimiento], [fecha_vencimiento], [lote], [cantidad], [costo_unitario], [costo_unitario_promedio], [existencia_anterior], [existencia_total], [estado], [id_producto], [id_movimiento], [id_bodega]) VALUES (1, CAST(N'2020-05-27' AS Date), N'M00933', CAST(20.00 AS Decimal(10, 2)), CAST(1.26 AS Decimal(10, 2)), CAST(1.26 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(20.00 AS Decimal(10, 2)), 1, 1, 1, 1)
INSERT [dbo].[detalles_movimientos] ([id_detalle_movimiento], [fecha_vencimiento], [lote], [cantidad], [costo_unitario], [costo_unitario_promedio], [existencia_anterior], [existencia_total], [estado], [id_producto], [id_movimiento], [id_bodega]) VALUES (3, CAST(N'2020-07-25' AS Date), N'M54354', CAST(24.00 AS Decimal(10, 2)), CAST(12.25 AS Decimal(10, 2)), CAST(10.13 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(25.00 AS Decimal(10, 2)), 1, 1, 3, 1)
INSERT [dbo].[detalles_movimientos] ([id_detalle_movimiento], [fecha_vencimiento], [lote], [cantidad], [costo_unitario], [costo_unitario_promedio], [existencia_anterior], [existencia_total], [estado], [id_producto], [id_movimiento], [id_bodega]) VALUES (4, CAST(N'2020-06-16' AS Date), N'w5604yr', CAST(3.00 AS Decimal(10, 2)), CAST(8.21 AS Decimal(10, 2)), CAST(7.26 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(3.00 AS Decimal(10, 2)), 1, 29, 1016, 2)
SET IDENTITY_INSERT [dbo].[detalles_movimientos] OFF
GO
SET IDENTITY_INSERT [dbo].[medidas_peso] ON 

INSERT [dbo].[medidas_peso] ([id_medida_peso], [nombre], [abreviatura], [estado]) VALUES (1, N'Onza', N'Oz', 1)
INSERT [dbo].[medidas_peso] ([id_medida_peso], [nombre], [abreviatura], [estado]) VALUES (2, N'Libra', N'Lb', 1)
INSERT [dbo].[medidas_peso] ([id_medida_peso], [nombre], [abreviatura], [estado]) VALUES (3, N'Miligramo', N'Ml', 1)
SET IDENTITY_INSERT [dbo].[medidas_peso] OFF
GO
SET IDENTITY_INSERT [dbo].[movimientos] ON 

INSERT [dbo].[movimientos] ([id_movimiento], [id_tipo_movimiento], [fecha], [hora], [descripcion], [costo_total_con_iva], [costo_total_sin_iva], [id_usuario], [estado], [id_proveedor], [id_bodega_cargo]) VALUES (1, 1, CAST(N'2020-03-27' AS Date), CAST(N'22:21:00' AS Time), N'Ingreso de Ternera de leche', CAST(25.35 AS Decimal(10, 2)), CAST(22.43 AS Decimal(10, 2)), 1, 1, 5, NULL)
INSERT [dbo].[movimientos] ([id_movimiento], [id_tipo_movimiento], [fecha], [hora], [descripcion], [costo_total_con_iva], [costo_total_sin_iva], [id_usuario], [estado], [id_proveedor], [id_bodega_cargo]) VALUES (2, 3, CAST(N'2020-03-28' AS Date), CAST(N'10:44:00' AS Time), N'Traslado', CAST(25.35 AS Decimal(10, 2)), CAST(22.43 AS Decimal(10, 2)), 1, 2, NULL, NULL)
INSERT [dbo].[movimientos] ([id_movimiento], [id_tipo_movimiento], [fecha], [hora], [descripcion], [costo_total_con_iva], [costo_total_sin_iva], [id_usuario], [estado], [id_proveedor], [id_bodega_cargo]) VALUES (3, 1, CAST(N'2020-04-23' AS Date), CAST(N'00:00:00' AS Time), N'Entradas de Añojo', CAST(33.63 AS Decimal(10, 2)), CAST(29.76 AS Decimal(10, 2)), 1, 0, 4, NULL)
SET IDENTITY_INSERT [dbo].[movimientos] OFF
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id_producto], [nombre], [codigo], [descripcion], [id_vigencia_promedio], [id_clasificacion], [id_sub_clasificacion], [id_proveedor], [fecha_creacion], [hora_creacion], [estado], [costo_unitario_con_iva]) VALUES (1, N'Ternera de leche', N'C-000001', N'Ternera de leche', 3, 1, 1, 1, CAST(N'2020-03-16' AS Date), CAST(N'12:25:26' AS Time), 1, CAST(10.2400 AS Decimal(18, 4)))
INSERT [dbo].[productos] ([id_producto], [nombre], [codigo], [descripcion], [id_vigencia_promedio], [id_clasificacion], [id_sub_clasificacion], [id_proveedor], [fecha_creacion], [hora_creacion], [estado], [costo_unitario_con_iva]) VALUES (2, N'Añojo', N'C-000002', N'Añojo', 2, 1, 2, 1, CAST(N'2020-03-16' AS Date), CAST(N'12:25:26' AS Time), 1, CAST(11.2100 AS Decimal(18, 4)))
INSERT [dbo].[productos] ([id_producto], [nombre], [codigo], [descripcion], [id_vigencia_promedio], [id_clasificacion], [id_sub_clasificacion], [id_proveedor], [fecha_creacion], [hora_creacion], [estado], [costo_unitario_con_iva]) VALUES (3, N'Novillo', N'C-000003', N'Novillo', 1, 1, 3, 1, CAST(N'2020-03-16' AS Date), CAST(N'12:25:26' AS Time), 1, CAST(12.3500 AS Decimal(18, 4)))
GO
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[proveedores] ON 

INSERT [dbo].[proveedores] ([id_proveedor], [nombre], [direccion], [nit], [nrc], [correo], [razon_social], [id_tipo_proveedor], [estado]) VALUES (1, N'FIT-FRUIT', N'Calle San Antonio Abad No. 2123 Frente Colegio Cristóbal Col', N'0614-301096-117-0', N'004385-0', N'frurticolas@gmail.com', N'FIT-FRUIT', 1, 1)
INSERT [dbo].[proveedores] ([id_proveedor], [nombre], [direccion], [nit], [nrc], [correo], [razon_social], [id_tipo_proveedor], [estado]) VALUES (2, N'ECOFRUIT FRUTAS Y VERDURAS', N'CALLE LOS GRANADOS, COLONIA LAS MERCEDES CASA 28, SAN SALVAD', N'0614-260877-001-2', N'076132-0', N'verduricolas@hotmail.com', N'ECOFRUIT FRUTAS Y VERDURAS', 4, 1)
INSERT [dbo].[proveedores] ([id_proveedor], [nombre], [direccion], [nit], [nrc], [correo], [razon_social], [id_tipo_proveedor], [estado]) VALUES (3, N'DISTRIBUCIONES HORTOFRUTICOLAS', N'12 CALLE ORIENTE Y 9A. AVENIDA SUR NO.22-A, SANTA TECLA LA L', N'0614-301096-117-1', N'203703-3', N'carnicolas@yahoo.com', N'DISTRIBUCIONES HORTOFRUTICOLAS', 3, 1)
SET IDENTITY_INSERT [dbo].[proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id_rol], [rol], [estado]) VALUES (1, N'Administrador', 1)
INSERT [dbo].[roles] ([id_rol], [rol], [estado]) VALUES (2, N'Encargado', 1)
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[sub_clasificaciones] ON 

INSERT [dbo].[sub_clasificaciones] ([id_sub_clasificacion], [id_clasificacion], [sub_clasificacion], [estado]) VALUES (1, 1, N'Suprema', 1)
INSERT [dbo].[sub_clasificaciones] ([id_sub_clasificacion], [id_clasificacion], [sub_clasificacion], [estado]) VALUES (2, 1, N'Selecta', 1)
INSERT [dbo].[sub_clasificaciones] ([id_sub_clasificacion], [id_clasificacion], [sub_clasificacion], [estado]) VALUES (3, 1, N'Estandar', 1)
SET IDENTITY_INSERT [dbo].[sub_clasificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[sucursales] ON 

INSERT [dbo].[sucursales] ([id_sucursal], [sucursal], [estado]) VALUES (1, N'Beethoven', 1)
INSERT [dbo].[sucursales] ([id_sucursal], [sucursal], [estado]) VALUES (2, N'Metrosur', 1)
INSERT [dbo].[sucursales] ([id_sucursal], [sucursal], [estado]) VALUES (3, N'Merliot', 1)
SET IDENTITY_INSERT [dbo].[sucursales] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_bodega] ON 

INSERT [dbo].[tipo_bodega] ([id_tipo_bodega], [tipo], [estado]) VALUES (1, N'Seca', 1)
INSERT [dbo].[tipo_bodega] ([id_tipo_bodega], [tipo], [estado]) VALUES (2, N'Refrigeradora', 1)
INSERT [dbo].[tipo_bodega] ([id_tipo_bodega], [tipo], [estado]) VALUES (3, N'Congeladora', 1)
SET IDENTITY_INSERT [dbo].[tipo_bodega] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_bodega_bodegas] ON 

INSERT [dbo].[tipo_bodega_bodegas] ([id_tipo_bodega_bodegas], [id_tipo_bodega], [id_bodega], [temperatura_promedio], [capacidad_maxima], [capacidad_actual]) VALUES (1, 1, 1, CAST(23.00 AS Decimal(10, 2)), CAST(100000.00 AS Decimal(10, 2)), CAST(1017.01 AS Decimal(10, 2)))
INSERT [dbo].[tipo_bodega_bodegas] ([id_tipo_bodega_bodegas], [id_tipo_bodega], [id_bodega], [temperatura_promedio], [capacidad_maxima], [capacidad_actual]) VALUES (2, 1, 2, CAST(17.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)), CAST(2013.00 AS Decimal(10, 2)))
INSERT [dbo].[tipo_bodega_bodegas] ([id_tipo_bodega_bodegas], [id_tipo_bodega], [id_bodega], [temperatura_promedio], [capacidad_maxima], [capacidad_actual]) VALUES (3, 2, 3, CAST(14.00 AS Decimal(10, 2)), CAST(17000.00 AS Decimal(10, 2)), CAST(6001.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[tipo_bodega_bodegas] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_movimiento] ON 

INSERT [dbo].[tipo_movimiento] ([id_tipo_movimiento], [tipo_movimiento], [estado]) VALUES (1, N'Entradas', 1)
INSERT [dbo].[tipo_movimiento] ([id_tipo_movimiento], [tipo_movimiento], [estado]) VALUES (2, N'Salidas', 1)
INSERT [dbo].[tipo_movimiento] ([id_tipo_movimiento], [tipo_movimiento], [estado]) VALUES (3, N'Traslados', 1)
SET IDENTITY_INSERT [dbo].[tipo_movimiento] OFF
GO
SET IDENTITY_INSERT [dbo].[tipo_proveedor] ON 

INSERT [dbo].[tipo_proveedor] ([id_tipo_proveedor], [tipo_proveedor], [estado]) VALUES (1, N'Frutas', 1)
INSERT [dbo].[tipo_proveedor] ([id_tipo_proveedor], [tipo_proveedor], [estado]) VALUES (2, N'Verduras', 1)
INSERT [dbo].[tipo_proveedor] ([id_tipo_proveedor], [tipo_proveedor], [estado]) VALUES (3, N'Carnes', 1)
SET IDENTITY_INSERT [dbo].[tipo_proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id_usuario], [usuario], [clave], [nombre_completo], [dui], [estado], [estado_sesion], [fecha_ultimo_ingreso], [hora_ultimo_ingreso], [id_rol]) VALUES (1, N'admin', N'admin', N'Administrador                                                                                                                                                                                           ', N'05443976-4', 1, 1, CAST(N'2020-04-25' AS Date), CAST(N'09:54:40' AS Time), 1)
INSERT [dbo].[usuarios] ([id_usuario], [usuario], [clave], [nombre_completo], [dui], [estado], [estado_sesion], [fecha_ultimo_ingreso], [hora_ultimo_ingreso], [id_rol]) VALUES (2, N'encargado', N'encargado', N'Encargado                                                                                                                                                                                               ', N'06143019-9', 1, 1, CAST(N'2020-04-25' AS Date), CAST(N'10:04:54' AS Time), 2)
INSERT [dbo].[usuarios] ([id_usuario], [usuario], [clave], [nombre_completo], [dui], [estado], [estado_sesion], [fecha_ultimo_ingreso], [hora_ultimo_ingreso], [id_rol]) VALUES (3, N'douglas', N'1234', N'Douglas', N'05498723-4', 1, 0, CAST(N'2020-04-25' AS Date), CAST(N'01:53:50' AS Time), 1)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[vigencia_promedio] ON 

INSERT [dbo].[vigencia_promedio] ([id_vigencia_promedio], [dias], [estado]) VALUES (1, 5, 1)
INSERT [dbo].[vigencia_promedio] ([id_vigencia_promedio], [dias], [estado]) VALUES (2, 10, 1)
INSERT [dbo].[vigencia_promedio] ([id_vigencia_promedio], [dias], [estado]) VALUES (3, 15, 1)
SET IDENTITY_INSERT [dbo].[vigencia_promedio] OFF
GO
ALTER TABLE [dbo].[productos] ADD  CONSTRAINT [DF_productos_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [DF_usuarios_estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[bitacora]  WITH CHECK ADD  CONSTRAINT [FK_bitacora_movimientos] FOREIGN KEY([id_movimiento])
REFERENCES [dbo].[movimientos] ([id_movimiento])
GO
ALTER TABLE [dbo].[bitacora] CHECK CONSTRAINT [FK_bitacora_movimientos]
GO
ALTER TABLE [dbo].[bodegas]  WITH CHECK ADD  CONSTRAINT [fk_bodegas_sucursales] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursales] ([id_sucursal])
GO
ALTER TABLE [dbo].[bodegas] CHECK CONSTRAINT [fk_bodegas_sucursales]
GO
ALTER TABLE [dbo].[detalles_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_detalles_movimientos_bodegas] FOREIGN KEY([id_bodega])
REFERENCES [dbo].[bodegas] ([id_bodega])
GO
ALTER TABLE [dbo].[detalles_movimientos] CHECK CONSTRAINT [FK_detalles_movimientos_bodegas]
GO
ALTER TABLE [dbo].[detalles_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_detalles_movimientos_movimientos] FOREIGN KEY([id_movimiento])
REFERENCES [dbo].[movimientos] ([id_movimiento])
GO
ALTER TABLE [dbo].[detalles_movimientos] CHECK CONSTRAINT [FK_detalles_movimientos_movimientos]
GO
ALTER TABLE [dbo].[detalles_movimientos]  WITH CHECK ADD  CONSTRAINT [FK_detalles_movimientos_productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[detalles_movimientos] CHECK CONSTRAINT [FK_detalles_movimientos_productos]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [FK_movimientos_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [FK_movimientos_proveedores]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [fk_movimientos_tipo_movimiento] FOREIGN KEY([id_tipo_movimiento])
REFERENCES [dbo].[tipo_movimiento] ([id_tipo_movimiento])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [fk_movimientos_tipo_movimiento]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [FK_movimientos_usuarios] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [FK_movimientos_usuarios]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [FK_productos_sub_clasificaciones] FOREIGN KEY([id_sub_clasificacion])
REFERENCES [dbo].[sub_clasificaciones] ([id_sub_clasificacion])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [FK_productos_sub_clasificaciones]
GO
ALTER TABLE [dbo].[productos]  WITH CHECK ADD  CONSTRAINT [fk_prouctos_viegncia_promedio] FOREIGN KEY([id_vigencia_promedio])
REFERENCES [dbo].[vigencia_promedio] ([id_vigencia_promedio])
GO
ALTER TABLE [dbo].[productos] CHECK CONSTRAINT [fk_prouctos_viegncia_promedio]
GO
ALTER TABLE [dbo].[proveedor_producto]  WITH CHECK ADD  CONSTRAINT [FK_proveedor_producto_productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[proveedor_producto] CHECK CONSTRAINT [FK_proveedor_producto_productos]
GO
ALTER TABLE [dbo].[proveedor_producto]  WITH CHECK ADD  CONSTRAINT [FK_proveedor_producto_proveedores] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id_proveedor])
GO
ALTER TABLE [dbo].[proveedor_producto] CHECK CONSTRAINT [FK_proveedor_producto_proveedores]
GO
ALTER TABLE [dbo].[proveedores]  WITH CHECK ADD  CONSTRAINT [fk_proveedores] FOREIGN KEY([id_tipo_proveedor])
REFERENCES [dbo].[tipo_proveedor] ([id_tipo_proveedor])
GO
ALTER TABLE [dbo].[proveedores] CHECK CONSTRAINT [fk_proveedores]
GO
ALTER TABLE [dbo].[sub_clasificaciones]  WITH CHECK ADD  CONSTRAINT [fk_sub_clasificacion_clasificaciones] FOREIGN KEY([id_clasificacion])
REFERENCES [dbo].[clasificacion] ([id_clasificacion])
GO
ALTER TABLE [dbo].[sub_clasificaciones] CHECK CONSTRAINT [fk_sub_clasificacion_clasificaciones]
GO
ALTER TABLE [dbo].[tipo_bodega_bodegas]  WITH CHECK ADD  CONSTRAINT [FK_tipo_bodega_bodegas_bodegas] FOREIGN KEY([id_bodega])
REFERENCES [dbo].[bodegas] ([id_bodega])
GO
ALTER TABLE [dbo].[tipo_bodega_bodegas] CHECK CONSTRAINT [FK_tipo_bodega_bodegas_bodegas]
GO
ALTER TABLE [dbo].[tipo_bodega_bodegas]  WITH CHECK ADD  CONSTRAINT [FK_tipo_bodega_bodegas_tipo_bodega] FOREIGN KEY([id_tipo_bodega])
REFERENCES [dbo].[tipo_bodega] ([id_tipo_bodega])
GO
ALTER TABLE [dbo].[tipo_bodega_bodegas] CHECK CONSTRAINT [FK_tipo_bodega_bodegas_tipo_bodega]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[roles] ([id_rol])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [FK_usuarios_roles]
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_bodega_habilitada]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_bodega_habilitada]
@estado as int
AS
IF (@estado IS NOT NULL)
BEGIN
select nombre_bodega, b.estado, sucursal, s.estado, t.estado, temperatura_promedio, capacidad_maxima, capacidad_actual from dbo.bodegas b inner join dbo.sucursales s on b.id_sucursal = s.id_sucursal inner join dbo.tipo_bodega t on b.id_tipo_bodega = t.id_tipo_bodega inner join dbo.tipo_bodega_bodegas g on b.id_tipo_bodega = g.id_tipo_bodega where
b.estado = @estado
END
ELSE
BEGIN
select nombre_bodega, b.estado, sucursal, s.estado, t.estado, temperatura_promedio, capacidad_maxima, capacidad_actual from dbo.bodegas b inner join dbo.sucursales s on b.id_sucursal = s.id_sucursal inner join dbo.tipo_bodega t on b.id_tipo_bodega = t.id_tipo_bodega inner join dbo.tipo_bodega_bodegas g on b.id_tipo_bodega = g.id_tipo_bodega 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_bodega_tipo]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_bodega_tipo]
@tipo as int
AS
IF (@tipo IS NOT NULL)
BEGIN
select nombre_bodega, b.estado, sucursal, s.estado, t.estado, temperatura_promedio, capacidad_maxima, capacidad_actual from dbo.bodegas b inner join dbo.sucursales s on b.id_sucursal = s.id_sucursal inner join dbo.tipo_bodega t on b.id_tipo_bodega = t.id_tipo_bodega inner join dbo.tipo_bodega_bodegas g on b.id_tipo_bodega = g.id_tipo_bodega where
b.id_tipo_bodega = @tipo
END
ELSE
BEGIN
select nombre_bodega, b.estado, sucursal, s.estado, t.estado, temperatura_promedio, capacidad_maxima, capacidad_actual from dbo.bodegas b inner join dbo.sucursales s on b.id_sucursal = s.id_sucursal inner join dbo.tipo_bodega t on b.id_tipo_bodega = t.id_tipo_bodega inner join dbo.tipo_bodega_bodegas g on b.id_tipo_bodega = g.id_tipo_bodega 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_kardex_tipo_f]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_kardex_tipo_f]
@fecha_inicio as date,
@fecha_fin as date

AS
SET @fecha_inicio = ISNULL(@fecha_inicio,'1800-01-01')
SET @fecha_fin = ISNULL(@fecha_fin,'3800-12-31')

select m.fecha, m.hora, m.descripcion, m.costo_total_con_iva, m.costo_total_sin_iva, m.estado, fecha_vencimiento, lote, cantidad, costo_unitario, 
costo_unitario_promedio, existencia_anterior, existencia_total, d.estado, usuario, nombre_completo, dui, u.estado, estado_sesion, 
fecha_ultimo_ingreso, hora_ultimo_ingreso, p.nombre, codigo, p.descripcion, fecha_creacion, hora_creacion, p.estado, 
costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, sub_clasificacion from dbo.movimientos m

inner join dbo.detalles_movimientos d on m.id_movimiento = d.id_movimiento
inner join dbo.usuarios u on m.id_usuario = u.id_usuario
inner join dbo.productos p on d.id_producto = p.id_producto
inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio
inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion
inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion
 where fecha >= @fecha_inicio and fecha <= @fecha_fin
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_kardex_tipo_m]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_kardex_tipo_m]
@tipo_m as int,
@fecha_inicio as date,
@fecha_fin as date

AS
SET @fecha_inicio = ISNULL(@fecha_inicio,'1800-01-01')
SET @fecha_fin = ISNULL(@fecha_fin,'3800-12-31')

IF (@tipo_m IS NOT NULL)
BEGIN
select m.fecha, m.hora, m.descripcion, m.costo_total_con_iva, m.costo_total_sin_iva, m.estado, fecha_vencimiento, lote, cantidad, costo_unitario, costo_unitario_promedio, existencia_anterior, existencia_total, d.estado, usuario, nombre_completo, dui, u.estado, estado_sesion, fecha_ultimo_ingreso, hora_ultimo_ingreso, p.nombre, codigo, p.descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, sub_clasificacion, r.nombre, direccion, nit, nrc, correo, razon_social, p.estado, tipo_proveedor, t.estado, nombre_bodega, b.estado, sucursal, f.estado, tipo, h.estado, temperatura_promedio, capacidad_maxima, capacidad_actual from dbo.movimientos m
inner join dbo.detalles_movimientos d on m.id_movimiento = d.id_movimiento
inner join dbo.usuarios u on m.id_usuario = u.id_usuario
inner join dbo.productos p on d.id_producto = p.id_producto
inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio
inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion
inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion
inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor
inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor
inner join dbo.bodegas b on d.id_bodega = b.id_bodega
inner join dbo.sucursales f on b.id_sucursal = f.id_sucursal
inner join dbo.tipo_bodega h on b.id_tipo_bodega = h.id_tipo_bodega
inner join dbo.tipo_bodega_bodegas g on b.id_tipo_bodega = g.id_tipo_bodega
 where fecha >= @fecha_inicio and fecha <= @fecha_fin  and m.id_tipo_movimiento = @tipo_m
 END
 ELSE
 BEGIN 
 select m.fecha, m.hora, m.descripcion, m.costo_total_con_iva, m.costo_total_sin_iva, m.estado, fecha_vencimiento, lote, cantidad, costo_unitario, costo_unitario_promedio, existencia_anterior, existencia_total, d.estado, usuario, nombre_completo, dui, u.estado, estado_sesion, fecha_ultimo_ingreso, hora_ultimo_ingreso, p.nombre, codigo, p.descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, sub_clasificacion, r.nombre, direccion, nit, nrc, correo, razon_social, p.estado, tipo_proveedor, t.estado, nombre_bodega, b.estado, sucursal, f.estado, tipo, h.estado, temperatura_promedio, capacidad_maxima, capacidad_actual from dbo.movimientos m
inner join dbo.detalles_movimientos d on m.id_movimiento = d.id_movimiento
inner join dbo.usuarios u on m.id_usuario = u.id_usuario
inner join dbo.productos p on d.id_producto = p.id_producto
inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio
inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion
inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion
inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor
inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor
inner join dbo.bodegas b on d.id_bodega = b.id_bodega
inner join dbo.sucursales f on b.id_sucursal = f.id_sucursal
inner join dbo.tipo_bodega h on b.id_tipo_bodega = h.id_tipo_bodega
inner join dbo.tipo_bodega_bodegas g on b.id_tipo_bodega = g.id_tipo_bodega
 where fecha >= @fecha_inicio and fecha <= @fecha_fin  
 END
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_producto]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_producto]
@Cod_prod as varchar(250)
AS
IF (@Cod_prod IS NOT NULL)
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor where
p.codigo = @cod_prod
END
ELSE
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor
END
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_producto_clas_fr]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_producto_clas_fr]
@fecha_inicio as date,
@fecha_fin as date,
@cla as int
AS
SET @fecha_inicio = ISNULL(@fecha_inicio,'1800-01-01')
SET @fecha_fin = ISNULL(@fecha_fin,'3800-12-31')

IF (@cla IS NOT NULL)
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor where
p.fecha_creacion >= @fecha_inicio and p.fecha_creacion <= @fecha_fin and p.id_clasificacion = @cla
END
ELSE
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor
where p.fecha_creacion >= @fecha_inicio and p.fecha_creacion <= @fecha_fin
END
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_producto_clas_sub_fr]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_producto_clas_sub_fr]
@fecha_inicio as date,
@fecha_fin as date,
@cla as int,
@sub_cla as int

AS

SET @fecha_inicio = ISNULL(@fecha_inicio,'1800-01-01')
SET @fecha_fin = ISNULL(@fecha_fin,'3800-12-31')

IF (@sub_cla IS NOT NULL AND @cla IS NOT NULL)
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor where
fecha_creacion >= @fecha_inicio and fecha_creacion <= @fecha_fin and p.id_clasificacion = @cla and p.id_sub_clasificacion = @sub_cla
END
ELSE IF (@cla IS NOT NULL)
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor where
fecha_creacion >= @fecha_inicio and fecha_creacion <= @fecha_fin and p.id_clasificacion = @cla
END
ELSE IF (@sub_cla IS NOT NULL)
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor where
fecha_creacion >= @fecha_inicio and fecha_creacion <= @fecha_fin and p.id_sub_clasificacion = @sub_cla
END
ELSE
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor
where p.fecha_creacion >= @fecha_inicio and p.fecha_creacion <= @fecha_fin
END
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_producto_fr]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_producto_fr]
@fecha_inicio as date,
@fecha_fin as date
AS
SET @fecha_inicio = ISNULL(@fecha_inicio,'1800-01-01')
SET @fecha_fin = ISNULL(@fecha_fin,'3800-12-31')

select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor where
fecha_creacion >= @fecha_inicio and fecha_creacion <= @fecha_fin
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_producto_nom]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_producto_nom]
@nom_prod as varchar(250)
AS
IF (@nom_prod IS NOT NULL)
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor where
p.nombre = @nom_prod
END
ELSE
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_producto_subc_fr]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_producto_subc_fr]
@fecha_inicio as date,
@fecha_fin as date,
@sub_cla as int
AS
SET @fecha_inicio = ISNULL(@fecha_inicio,'1800-01-01')
SET @fecha_fin = ISNULL(@fecha_fin,'3800-12-31')
IF (@sub_cla IS NOT NULL)
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor where
fecha_creacion >= @fecha_inicio and fecha_creacion <= @fecha_fin and p.id_sub_clasificacion = @sub_cla
END
ELSE
BEGIN
select p.nombre, descripcion, fecha_creacion, hora_creacion, p.estado, costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, c.estado, sub_clasificacion, s.estado, r.nombre, direccion, nit, nrc, correo, razon_social, r.estado, tipo_proveedor, t.estado from dbo.productos p inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion inner join dbo.proveedores r on p.id_proveedor = r.id_proveedor inner join dbo.tipo_proveedor t on r.id_tipo_proveedor = t.id_tipo_proveedor 
where
fecha_creacion >= @fecha_inicio and fecha_creacion <= @fecha_fin
END
GO
/****** Object:  StoredProcedure [dbo].[sp_consulta_productos_por_vencer]    Script Date: 25/04/2020 10:13:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_consulta_productos_por_vencer]
@fecha_inicio as date,
@fecha_fin as date

AS
BEGIN
SET @fecha_inicio = ISNULL(@fecha_inicio,'1800-01-01')
SET @fecha_fin = ISNULL(@fecha_fin,'3800-12-31')

select m.fecha, m.hora, m.descripcion, m.costo_total_con_iva, m.costo_total_sin_iva, m.estado, fecha_vencimiento, lote, cantidad, costo_unitario, 
costo_unitario_promedio, existencia_anterior, existencia_total, d.estado, usuario, nombre_completo, dui, u.estado, estado_sesion, 
fecha_ultimo_ingreso, hora_ultimo_ingreso, p.nombre, codigo, p.descripcion, fecha_creacion, hora_creacion, p.estado, 
costo_unitario_con_iva, dias, v.estado, nombre_clasificacion, sub_clasificacion

from dbo.movimientos m
inner join dbo.detalles_movimientos d on m.id_movimiento = d.id_movimiento
inner join dbo.usuarios u on m.id_usuario = u.id_usuario
inner join dbo.productos p on d.id_producto = p.id_producto
inner join dbo.vigencia_promedio v on p.id_vigencia_promedio = v.id_vigencia_promedio
inner join dbo.clasificacion c on p.id_clasificacion = c.id_clasificacion
inner join dbo.sub_clasificaciones s on p.id_sub_clasificacion = s.id_sub_clasificacion

where fecha_vencimiento >= @fecha_inicio and fecha_vencimiento <= @fecha_fin and existencia_total > 0 ORDER BY fecha_vencimiento
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "usuarios"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_login'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_login'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "productos"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "proveedores"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "sub_clasificaciones"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 400
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "clasificacion"
            Begin Extent = 
               Top = 402
               Left = 38
               Bottom = 515
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "vigencia_promedio"
            Begin Extent = 
               Top = 516
               Left = 38
               Bottom = 629
               Right = 246
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
    ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_producto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'     Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_producto'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_producto'
GO
USE [master]
GO
